{% extends 'base.html' %}
{% load static %}
{% block title %}Research Log{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'psstyle.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}


{% block content %}
  <div class="main-body">
          {% comment %} <div class="col-md-25 mb-5"> {% endcomment %}
            <div class="card">
              <div class="card-body">
                {% comment %} <div class="container"> {% endcomment %}
 
                  <h3>Browse journals by discipline:</h3>
                   
                   <div class="card-group">
                    {% for cat in category %}
                      <div class="card text-dark bg-light">
                   
                      {% comment %} <img class="card-img-top" src="https://th.bing.com/th/id/R.49b072bef74c871f21f2d576e49bf090?rik=634mkINIw0wsZA&pid=ImgRaw&r=0" alt="image alt text here"> {% endcomment %}
                      <a href="{% url 'publications' %}?category={{ cat }}">
                        <div class="card-body text-center">
                   
                          <h5 class="card-title">{{ cat }}</h5>
                   
                          {% comment %} <p class="card-text text-left"> write something here. </p> {% endcomment %}
                   
                        </div>
                      </a>
                  
                        {% comment %} <div class="card-footer bg-success text-right text-danger">
                   
                        <a href="#" class="btn btn-outline-light btn-sm">More info</a>
                   
                        </div> {% endcomment %}
                   
                    </div>
                    {% endfor %}
                  
                   
                  </div> 
                   
                  </div>
                   
                  </div>
                 
                </div>    
                
              </div>
            </div>
{% endblock content %}



