{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel='stylesheet' href="{% static 'signup.css' %}">
{% endblock %}


{% block title %}
    Forgot Password
{% endblock %}
{% block navbar %}

{% endblock  %}
{% block content %}
<div class="center">
    <h1>Forgot Password</h1>
    <form method="post">
      {% csrf_token %}
      <div class="txt_field">
        <input type="text" name="email" required>
        <span></span>
        <label>Email</label>
      </div>
      <input type="submit" value="Submit">
    </form>
    <br/>
  </div>
{% endblock content %}


