{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel='stylesheet' href="{% static 'login.css' %}">
<link rel='stylesheet' href="{% static 'footer.css' %}">
{% endblock %}

{% block title %}
    Login to your account
{% endblock  %} 
{% block body %}
{% endblock %}
{% block navbar %}

{% endblock %} 
	
{% block content %}
<div class="center">
  <h1>Login</h1> 
    <form method="post">
      {% csrf_token %}
      <div class="txt_field">
        <input type="text" name="email" required>
        <span></span>
        <label>Email</label>
      </div>
      <div class="txt_field">
        <input type="password" name="psw" required>
        <span></span>
        <label>Password</label>
      </div>
      {% comment %} <div class="pass">Forgot Password?</div> {% endcomment %}
      <input type="submit" value="Login">
      <div class="signup_link">
        New to ResearchLog? <a href="{% url 'signup' %}">Signup</a>
        <br/>
        Forgot your password? <a href="{% url 'forgot_password' %}">Reset</a>
      </div>
    </form>
  </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

