{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel='stylesheet' href="{% static 'login.css' %}">
<link rel='stylesheet' href="{% static 'style.css' %}">
{% endblock %}


{% block title %}
      logout
{% endblock title %}

{% block content %}
    <div class="center">
        <h1>Logout Successful</h1>
        <from method="post">
            <div class="signin_link">
                Sign in again?   <a href="{% url 'login' %}"> Signin</a>
            </div>
            <div class="signup_link">
                Create a new account?   <a href="{% url 'signup' %}"> Signup</a>
            </div>
        </from>
    </div>
{% endblock %}
