{% extends 'base.html' %}
{% load static %}
{% block navbar %}

{% endblock  %}

{% block style %}
<link rel="stylesheet" href="{% static 'psstyle.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


{% endblock %}

{% block content %}
<div class="container">
    <div class="main-body">
    
          {% comment %} <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="#">User Profile</a></li>
            </ol>
          </nav>
          <!-- /Breadcrumb --> {% endcomment %}
    
          <div class="row gutters-sm">
            <div class="col-md-3 mb-3">
            </div>
            <form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
            <div class="col-md-12">
              <div class="card mb-3">
               
                <div class="card-body">
                  
                  <div class="row">
                     
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input style="border:0px" type="text" name="fname" value="{{ fname }}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-sm-3">
                       <h6 class="mb-0">Last Name</h6>
                     </div>
                     <div class="col-sm-9 text-secondary">
                      <input style="border:0px"  type="text" name="lname" value="{{ lname }}">
                     </div>
                   </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Description</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input style="border:0px"  type="text" name="desc" value="{{ desc }}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Google Scholar ID</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input style="border:0px"  type="text" name="scholar_id" value="{{ scholar_id }}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Github</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input style="border:0px"  type="text" name="gh_id" value="{{ gh_id }}">
                    </div>
                  </div>
                  </hr>

                  <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Profile Picture</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input style="border:0px" type="file" name="profile_pic" value="{{ profile_pic }}">
                        {% comment %} <button type="submit">UPDATE</button> {% endcomment %}
                      </div>
                    </div>
                  <hr>
                  {% comment %} <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    
                    </div>
                  </div>
                  <hr> {% endcomment %}
                  <div class="row">
                    <div class="col-sm-12">
                      {% comment %} <a class="btn btn-info " target="__blank" href="#">Update</a> {% endcomment %}
                      <input class="btn btn-info " type="submit" value="Update">
                      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add journal</button>
                    </div>
                  </div>
              
              
                
                </div>

              </div>
            </form>
 
          <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                   
                  </div>
                  <div class="modal-body">
                    <form method="POST" action={% url 'upload_journal' %} enctype="multipart/form-data" >
                      {% csrf_token %}
                     <p>title</p>
                     <input type='text' name='title'>
                     <p>file</p>
                     <input type='file' name='pdf'>
                     <br>
                     <button class="btn btn-default"  type='submit'>add</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>
          
                    </div>
                  </div>
                </div>
                
              </div>



            </div>
          </div>

        </div>
    </div>
    {% endblock content %}