{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel='stylesheet' href="{% static 'signup.css' %}">
<link rel='stylesheet' href="{% static 'style1.css' %}">

{% endblock %}


{% block title %}
    Update your Password
{% endblock %}
{% block navbar %}

{% endblock  %}
{% block content %}
<div class="center">
    <h1>Reset Password</h1>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" value={{uid}} name="uid" required>
      <div class="txt_field">
        <input type="password" name="psw" required>
        <span></span>
        <label> Enter Password</label>
      </div>
      <div class="txt_field">
        <input type="password" name="psw-repeat" required>
        <span></span>
        <label> Confirm Password</label>
      </div>
      <input type="submit" value="Submit">
    </form>
    <br/>
  </div>
{% endblock content %}


