{% extends 'base.html' %}
{% load static %}
{% block navbar %}

{% endblock  %}
{% block title %}Approve Papers{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'pdf.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
    .item__image img{
        height: 170px;
        width: auto;
        padding: 0;
        margin: 0 14px 0 0;
        }
    </style>
{% endblock %}

{% block content %}
<div class="main-body" style="padding: 80px 55px 1px 35px;">
    <div class="card">   
      <div class="d-flex justify-content-center align-items-center" style="padding: 10px">
        <h2>Approval waiting list</h2>
      </div>
    </div>
</div>

<div class="main-body" style="padding: 21px 55px 40px 35px;">
    <div class="card">  
              <div class="col" style="padding: 35px 35px 35px 35px;">
                <table class="table table-hover table-bordered" >
                    {% for pub in publications %}
                    <tr>
                        <td>
                            <div class="item__image"><a href="{{ pub.image }}"><img src="{{ pub.image }}" title="{{ pub.title }}" alt=""></a></div>
                        </td>
                        <td><a href="{% url 'publication_view' pub.id %}">{{ pub.title }}</a></td>
                        
                        <td>
                            <a class="btn btn-primary btn-xs" href="{% url 'approve_publication' pub.id  %}"><i class="fas fa-check"></i></a>
                            <a class="btn btn-danger btn-xs" href="{% url 'delete_publication' pub.id  %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
              </div>
        
            </div>
    </div>
</div>

</div>
</div>

            
                  
    {% endblock content %}