{% extends 'base.html' %}
{% load static %}
{% block navbar %}

{% endblock  %}

{% block style %}
<link rel="stylesheet" href="{% static 'pdf.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Include PDF.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.339/pdf.min.js"></script>
{% endblock %}

{% block content %}
<div class="main-body" style="padding: 80px 55px 1px 35px;">
    <div class="card">   
      {% comment %} <div class=" d-flex justify-content-left align-items-right h-100">
        <div class="col col-lg-2 mb-4 mb-lg-0"> {% endcomment %}
         
            <div class="row g-5">
              <div class="col-md-4" style="border-top-center-radius: .5rem; border-bottom-center-radius: .5rem;">
                <img src="{{ image }}"alt="Image" class="img-fluid my-3" style="padding: 19px 75px 1px 35px;width: 100vw;"/>
              </div>
              <div class="col-md-8">
                <div class="card-body p-5">
                  <h2>{{ title }}</h2>
                
                </br>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Authors</h6>
                  </div>
                  <div class="col-sm-4 text-secondary">
                    {% for author in authors %}
                    <span><a href="{% url 'profile_view' author.id %}">{{ author.name }}</a></span>
                    {% endfor %}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Categories</h6>
                  </div>
                  <div class="col-sm-4 text-secondary">
                    {% for category in categories %}
                    <span><a href="{% url 'publications' %}?category={{ category }}">{{ category }}</a></span>
                    {% endfor %}
                  </div>
                </div>
                  
                  
                </div>
              </div>
          
        
        </div>
      {% comment %} </div>
    </div> {% endcomment %}
</div>
</div>

<div class="main-body" style="padding: 21px 55px 1px 35px;">
    <div class="card">  
              <div class="col-md-4">
                <h1>Abstract</h1>
                <textarea rows="10" cols="220" class="para">{{ desc }}</textarea>
              </div>
        
            </div>
    </div>
</div>





    <div class="main-body" style="padding: 19px 55px 20px 35px;" >
    
        <div class="card">   
    <object 
    
      data='{{ pdf }}'
      type="application/pdf"
      width="100%"
      height="657"
     
    >
    <iframe src={`${testPdf}#view=fitH`} title="testPdf" height="100%" width="100%" />
    </object>
  </div>
</div>
</div>

            
                  
    {% endblock content %}