@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body{
    margin-top:25px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 100px;
}

.card {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}


.search-result__body {
    margin-top: 1.25rem;
}

.search__item {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.66667;
    color: #555;
    border-color: #ccc;
}
.item__image img{
height: 170px;
width: auto;
padding: 0;
margin: 0 14px 0 0;
}

/* 

:root {
    --bodyBackground: #f2f4f8;
    --successGreen: #00ff84;
    --dangerRed: #ffc0c7;
    --questionBG: #e4e8ee;
    --fontPrimary: #002333;
    --active: #2dbf64;
  }
   */
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fontPrimary);
    font-family: "Montserrat", sans-serif;
  }
   */
  /* body {
    background-color: var(--bodyBackground);
  }
  
  a {
    text-decoration: none;
    color: blue;
  } */
  
  h4 {
    color: #7c83a7;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  
  .info {
    margin-top: 1rem;
    text-align: center;
  }
/*   
  .error {
    background-color: var(--dangerRed);
    padding: 0.6rem 1.2rem;
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
   */
/*    
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  @media only screen and (max-width: 1023px) {
    .column {
      grid-template-columns: 1fr;
    }
  }
   */
/*   
  .nav {
    display: flex;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1;
  }
   */
/*    
  .nav ul {
    width: 50%;
    height: 60px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav ul:first-child {
    margin-left: 30px;
  }
  
  .nav ul li {
    font-weight: 600;
  }
  
  .nav .brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav .brand h3 {
    font-size: 18px;
    line-height: 19px;
    font-weight: 700;
  }
  
  .nav .brand img {
    width: 32px;
    margin-right: 10px;
  }
   */
/*    
  @media only screen and (max-width: 600px) {
    .nav .brand h3 {
      display: none;
    }
  }
   */
/*   
  .main {
    width: 100%;
    padding: 4rem 0;
  }
  
  .container {
    width: 90%;
    margin: 2rem auto;
  }
  
  .textInput {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding: 2px;
  }
   */
/*    
  .textInput input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0.3rem 0.7rem;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
   */
  .textInput span {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* button component */
  .button {
    background: var(--successGreen);
    color: var(--fontPrimary);
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 0px;
  }
  
  .button:hover {
    background: var(--fontPrimary);
    color: #fff;
  }
  
  .button:hover span {
    color: #fff;
  }
/*   
 
  .account {
    width: 50%;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    font-size: 12px;
  }
  
  .account > span:last-child {
    cursor: pointer;
  }
  
  .signup {
    height: 500px;
  }
  
  .login {
    height: 330px;
  }
  
  .illustration {
    padding: 5rem 2rem;
  }
  
  .illustration img {
    max-width: 80%;
  }
   */
/*    
  @media only screen and (max-width: 1023px) {
    .illustration {
      display: none;
    }
  }
  
  .form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem 0;
  }
  
  .form label {
    margin-top: 1rem;
  }
  
  .form .button {
    height: 44px;
    margin-top: 2rem;
  }
  
  @media only screen and (max-width: 600px) {
    .form {
      grid-template-columns: 1fr;
    }
  } */
  