*{
    background-color: rgb(125, 188, 218);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
    font-size: 20px;

}
body{
    overflow-x: hidden;
}
.active {
    background-color: #170fad;
  }
  ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color:none;
   
  }
  
li {
    float: left;
    border-right:1px solid #bbb;
  }
  
li:last-child {
    border-right: none;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: #23081ff3;
  }
#Logo{
    height: 54px;
}
  