<!DOCTYPE html>
<html>
<head>
 
    {% load static %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block style %}
    {% endblock %}
</head>
<body>

<ul>
  <li><img id='Logo' src="{% static 'uap.png' %}" alt="Logo"></li>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#">Login</a></li>
  <li><a href="#">SignUp</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a href="#about">About</a></li>
  {% block navbar %}
  {% endblock %}
</ul>

{% block content %}{% endblock %}
</body>
</html>


