<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>
        {% block title %}
        {% endblock %}
  </title>
  <link rel='stylesheet' href="{% static 'style1.css' %}">
  <link rel='stylesheet' href="{% static 'footer.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  {% block style %}
  {% endblock %}
</head>
<body>
  {% for message in messages %}
  <div id="msg" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong></strong> {{ message }}
  </div>
  {% endfor %}
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
          <img class="img-logo" src="{% static 'logo.png' %}" alt="UAP">

        <ul class="links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'publications' %}">Publications</a></li>
          {% if request.user.is_staff %}
          <li>
            <a href="{% url 'publications_approve' %}">Approval</a>
          </li>
          {% endif %}
          {% if not request.user.is_authenticated %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li>
            <a href="{% url 'signup' %}">Signup</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'profile_view' request.user.id %}">Profile</a></li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
          <div class="logo"style="text-align:right"><a href="{% url 'home' %}">ResearchLog</a></div>

          {% block navbar %}{% endblock  %}
        </ul>
      </div>
      {% comment %} <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Search here...." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button> {% endcomment %}
      </form>
    </nav>
  </div>

 {% block content %} {% endblock %}

<footer>
  <div class="container">
    <div class="row">
      
      <div class="col-lg-4 col-md-4">
        <div  >
          <img src="{% static 'logo.png' %} " height="120px" alt="UAP" />
          <p class="text-left text-lg-start text-white">74/A, Green Road, Farmgate
            Dhaka-1205, Bangladesh
            PABX:+8802-58157091-4,6
            FAX:+8802-58157097</p>

        </div>
      
      </div>
      </div>
      
      
    </div>
 
  <div class="copyright text-center">
    <div class="credits">
      Developed by <a href="http://mominul.github.io" target="_blank">Mominul </a>, <a href="https://mhyemon95.github.io/" target="_blank">Yemon
  </a>,
       <a href="https://capt-farvez.github.io/" target="_blank">Farvez</a> &amp; <a href="#" target="_blank">Ashik
  </a>
  </div>
    Copyright &copy; 2023 <span>ResearchLog</span>
  </div>
</footer>

 <script>
  setTimeout(function(){
    if ($('#msg').length > 0) {
    $('#msg').remove();
    }
  }, 2000)
</script>
</body>
</html>